<!-- Customer Statistics -->
    <div class="row mb-4">
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Total Customers</h5>
                    <p class="card-text display-4">{{ total_customers }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Active Customers</h5>
                    <p class="card-text display-4">{{ active_customers }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Inactive Customers</h5>
                    <p class="card-text display-4">{{ inactive_customers }}</p>
                </div>
            </div>
        </div>
    </div>